:root {
  --primary-color: #2c3e50; /* Deep blue for the sidebar */
  --secondary-color: #ecf0f1; /* Calm grey for the main content background */
  --accent-color: #16a085; /* Muted teal for accents and buttons */
  --text-color: #ffffff; /* White for text in the sidebar */
  --header-height: 50px; /* Fixed header height */
  --font-family: 'Roboto', sans-serif;
  --sidebar-width: 250px; /* Width of the sidebar */
}

body, html {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  height: 100%;
  background-color: var(--secondary-color);
  color: var(--accent-color);
}

.app-container {
  display: flex;
  flex-direction: row; /* Changed from column to row */
  min-height: 100vh;
}

.sidebar {
  width: var(--sidebar-width);
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.navigation {
  margin-top: 2rem;
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-list li {
  margin-bottom: 1rem;
  cursor: pointer;
}

.project-section {
  margin-top: 2rem;
}

.project-title {
  margin-bottom: 1rem;
}

.add-project-btn {
  padding: 0.5rem 1rem;
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  color: var(--primary-color);
  cursor: pointer;
}

.content {
  flex-grow: 1;
  padding: 2rem;
  padding-top: calc(var(--header-height) + 2rem); /* Add this line */
  background-color: var(--secondary-color);
  overflow-y: auto;
}

/* Ensure header spans the full width */
.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--text-color);
  height: var(--header-height);
  padding: 1rem 5rem;
  width: 100vw;
  position: fixed; /* Fix position to the top */
  top: 0;
  right: 0;
}

.header-logo img {
  margin-left: 950px;
}

.mode-toggle {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

/* Responsiveness */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto; /* Change to auto height for smaller screens */
  }

  .app-header {
    width: 100%;
    position: static; /* Header is no longer fixed on mobile */
  }

  .header-logo img {
    height: 25px; /* Smaller logo for mobile */
  }

  .sidebar {
    /* Display the sidebar on smaller screens */
    display: block;
  }

  .content {
    /* Allow content to take full width */
    margin-left: 0;
  }

  /* Adjustments for other elements on smaller screens */
}

