/* path: /src/style.css */
/* Basic reset for styling consistency */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    display: flex;
    min-height: 90vh;
}

#project-list {
    flex: 1;
    background-color: #f4f4f4;
    padding: 1rem;
}

#todos-display {
    flex: 2;
    padding: 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
}

/* Responsive design */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
}

/* Light and Dark Theme */
.light-mode {
    background-color: #f4f4f4;
    color: #333;
}

.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}
